<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
</head>
<body>
    <h1>Projects</h1>
    <ul>
        {% for project in projects %}
            <h3><li><a href="/project/{{project.project_id}}">{{ project.title }}</a></li></h3>
        {% endfor %}
    </ul>
    <br>
    <br>
    <h3>Add a new project</h3>
    <form action="/add/project" method="POST">
        <div>
            Project name: <input type="text" name="project-title" id="">
            <br>
            <input type="submit" value="Add Project">
        </div>
    </form>
    {% for category, message in get_flashed_messages(with_categories=true) %}
        <div style="color: {{category}}">{{message}}</div>
    {% endfor %}
</body>
</html>